
body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
	overflow: hidden;
	background-color: rgba(0,0,0,0.9);
}

html {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 0;
}

.dvd {
	width: clamp(130px, 25vw, 200px);
	opacity: 1;
	filter: sepia(100%) saturate(600%) brightness(100%) hue-rotate(190deg);
}